CONFIG_BLINK_LED_GPIO=y
CONFIG_BLINK_GPIO=8

# HeartBox Configuration
CONFIG_HEARTBOX_DEVICE_NAME="Test"
CONFIG_HEARTBOX_TOPIC_NAME=""
CONFIG_HEARTBOX_AWS_IOT_ENDPOINT=""

CONFIG_HEARTBOX_WIFI_SSID = ""
CONFIG_HEARTBOX_WIFI_PASSWORD = ""